h1 ,h3  {text-align: center; color: green; border:outset; border-color: black; border-width:min(12, 12); }
h3 {color: salmon;}
.read {background:lavenderblush; margin:12px; text-size:larger;}
.tags {background:lavender; margin:12px;}
.all  { border: outset; border-color: black; background:whitesmoke; margin:12px;}
